
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .timeline-line-horizontal {
    @apply absolute h-px w-full bg-gray-300;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .timeline-card {
    @apply absolute w-48;
    transform: translateX(-50%);
  }
  
  .timeline-card-top {
    bottom: 100%;
    margin-bottom: 1rem;
  }
  
  .timeline-card-bottom {
    top: 100%;
    margin-top: 1rem;
  }
}
